:root {
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.container {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}

.hero-container {
    background-image: url(src/bgImage.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0px 5px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.links {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    color: var(--textColor);
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.cv {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 36px;
}

.about {
    display: flex;
    margin-top: 20px;
}

.about-image {
    flex: 1;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.about-desc {
    flex: 1;
}

.skills {
    padding: 5px;
}

.skill-stack {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.skill-image {
    width: 128px;
    height: 128px;
    border-radius: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
}

.my-projects {
    display: flex;
    padding: 2px 16px;
    align-items: center;
    gap: 10px;
}

.single-project {
    
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
    border-radius:8px;

}
.single-project:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.image-holder{
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
}
.project-image {
    width: 358px;
    height: 278px;
    border-radius: 8px;
}
.project-title {
    margin-top: 10px;
    margin-left: 10px;
}
.project-description{
    margin-top: 5px;
    margin-left: 10px;
}
.tech-used{
    margin-top: 5px;
    margin-left: 10px;
}

.project-sources {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
}

.project-links {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 18px;
    padding: 4px;
}

.project-links:hover{
    background-color: black;
    color: white;
    border-radius: 8px;
}
.contacts {
    display: flex;
    flex-direction: column;

}

.contact-content {
    display: flex;
    gap: 20px;
    margin-top: 20px;

}

.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.mail-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    ;
}

.mail-content-h1 {
    text-align: center;
}

.mail-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.footer-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}